<link href="../../dist/css/bootstrap.min.css" rel="stylesheet">
<link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
<link href="sticky-footer.css" rel="stylesheet">
<script src="../../assets/js/ie-emulation-modes-warning.js"></script>
<footer class="footer">
      <div class="container">
        <p class="text-muted">Footer</p>
      </div>
</footer>
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
