<link href="../../dist/css/bootstrap.min.css" rel="stylesheet">
<link href="stylesheets/sticky-footer.css" rel="stylesheet">
<footer class="footer">
      <div class="container">
        <p class="text-muted">Footer</p>
      </div>
    </footer>

