<link rel="stylesheet" type="text/css" media="all" href="stylesheets/animate.css">
<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link type="text/css" rel="stylesheet" href="stylesheets/materialize.css"  media="screen,projection"/>
<link rel="stylesheet" type="text/css" href="stylesheets/main.css" />
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="scripts/materialize.js"></script>


<nav class="navigation">
<ul>
  <li><a href="#"><h5>Triangular</h5>
  </a></li>
  <h6>Dashboards-Analytics</h6>
  <li><a href="#"><span class="glyphicon glyphicon-globe"></span></a></li>
  <li><a href="#"><span class="glyphicon glyphicon-envelope"></span></a></li>
  <li><a href="#"><span class="glyphicon glyphicon-bell"></span></a></li>
  <li><a href="#"><span class="glyphicon glyphicon-user"></span>Chris</a></li>
</ul>
</nav>