
<ul id="nav-mobile" class="side-nav fixed" style="width: 240px; left: 0px;">
  <li class="bold">
    <a href="#" class="waves-effect waves-teal">Github</a>
  </li>
  <li class="bold">
    <a href="#" class="waves-effect waves-teal">Calendar</a>
  </li>
<li class="no-padding">
  <ul class="collapsible collapsible-accordion">
    <li class="bold active">
     <a clas="collapsible-header waves-effect waves-teal">Dashboards</a>
     <div class="collapsible-body" style="display: block;">
      <ul>
        <li>
          <a href="#">Analytics</a>
        </li>
        <li>
          <a href="#">General</a>
        </li>
        <li>
          <a href="#">Sales</a>
        </li>
        <li>
          <a href="#">Server</a>
        </li>
        <li>
          <a href="#">Social</a>
        </li>
        <li>
          <a href="#">Widgets</a>
        </li>
        <li>
          <a href="#">Draggable</a>
        </li>
      </ul>
      </div>
    </li>
    <li class="bold">
      <a clas="collapsible-header waves-effect waves-teal">Email</a>
      <div class="collapsible-body" style>
      <ul>
        <li>
          <a href="#">First</a>
        </li>
        <li>
          <a href="#">Second</a>
        </li>
        <li>
          <a href="#">Third</a>
        </li>
      </ul>
      </div>
    </li>
    <li class="bold">
      <a clas="collapsible-header waves-effect waves-teal">Layouts</a>
      <div class="collapsible-body" style>
      <ul>
        <li>
          <a href="#">First</a>
        </li>
        <li>
          <a href="#">Second</a>
        </li>
        <li>
          <a href="#">Third</a>
        </li>
      </ul>
      </div>
    </li>
    <li class="bold">
      <a clas="collapsible-header waves-effect waves-teal">Elements</a>
      <div class="collapsible-body" style>
      <ul>
        <li>
          <a href="#">First</a>
        </li>
        <li>
          <a href="#">Second</a>
        </li>
        <li>
          <a href="#">Third</a>
        </li>
      </ul>
      </div>
    </li>
    <li class="bold">
      <a clas="collapsible-header waves-effect waves-teal">UI</a>
      <div class="collapsible-body" style>
      <ul>
        <li>
          <a href="#">First</a>
        </li>
        <li>
          <a href="#">Second</a>
        </li>
        <li>
          <a href="#">Third</a>
        </li>
      </ul>
      </div>
    </li>
    <li class="bold">
      <a clas="collapsible-header waves-effect waves-teal">Forms</a>
      <div class="collapsible-body" style>
      <ul>
        <li>
          <a href="#">First</a>
        </li>
        <li>
          <a href="#">Second</a>
        </li>
        <li>
          <a href="#">Third</a>
        </li>
      </ul>
      </div>
    </li>
    <li class="bold">
      <a clas="collapsible-header waves-effect waves-teal">Authentication</a>
      <div class="collapsible-body" style>
      <ul>
        <li>
          <a href="#">First</a>
        </li>
        <li>
          <a href="#">Second</a>
        </li>
        <li>
          <a href="#">Third</a>
        </li>
      </ul>
      </div>
    </li>
    <li class="bold">
      <a clas="collapsible-header waves-effect waves-teal">Charts</a>
      <div class="collapsible-body" style>
      <ul>
        <li>
          <a href="#">First</a>
        </li>
        <li>
          <a href="#">Second</a>
        </li>
        <li>
          <a href="#">Third</a>
        </li>
      </ul>
      </div>
    </li>

</ul>
