html, body {
  width : 100%;
  background-color: #dedede;
  height: auto;
  position:relative; 
  
  
}



footer {
  padding: 2em;
  color: white;
  background-color: #001F3F;
  height: 60px;
  bottom: 0;
  width: 100%;
}